/*
  Student:      Misko Valent
  Assignment:   2C
  Due Date:     Oct 26, 2021

  Filename:     style.css
  LastUpdated:  Oct 25, 2021
  
  Class:        DGL 203 - Advanced CSS
  Instructor:   Megan Wilson
  Semester:     NIC 2021 Fall
  */

/*##############  Global Styles  ###############*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  justify-content: center;
  background-color: lightgrey;
  /* using background for visual cues during setup, option to delete or alter upon completion */
}

.w3-container {
  margin: auto;
  background-color: white;
  width: 90%;
}

.course #ball {
  width: 24px;
  height: 24px;
  transform-origin: center;;
  transform-box: fill-box;
  animation: spin 0.2s linear both;
}

.course #ball {
  offset-path: path('M1 1c154.05 20.43 278.39 93.92 335 237 102-50.66 182.73-49.35 275 8 46.77-32.45 86.36-24.11 114 0 66.29-35.12 98.23-18.66 90 32');
  animation: fly 2.5s ease-out both;
}


#_18th_hole  {
  animation: pickup .5 ease 2.5s both;
  transform-origin: bottom;;
  transform-box: fill-box;
}

/*##############  Animations  ###############*/

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(720deg);}
}

@keyframes pickup {
  0% {
    transform: translateY(0) rotateZ(0) translateX(0) scale(90%);
  }
  100% {
    transform: translateY(-100px) rotateZ(-15deg) translateX(5px) scale(80%);
  }
}

@keyframes fly {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
  
}