/*
  Student:      Misko Valent
  Due Date:     Oct 19, 2021

  Filename:     style.css
  LastUpdated:  Oct 18, 2021
  
  Class:        DGL 203 - Advanced CSS
  Instructor:   Megan Wilson
  Semester:     NIC 2021 Fall
  */

/*##############  Global Styles  ###############*/

body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;

  /* using background for visual cues during setup, option to delete or alter upon completion */

}

.grid-container {
  background-color: white;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px , 1fr));
  grid-template-rows: repeat(3, minmax(200px, 1fr));
}

.grid-item {
  padding: 10px;
}

.grid-item:nth-child(1){
  background-color: lightblue;  /* visual cue only */
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.grid-item:nth-child(2){
  background-color: lightcyan;  /* visual cue only */
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.grid-item:nth-child(3){
  background-color: lightsteelblue;  /* visual cue only */
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.grid-item:nth-child(4){
  background-color: lightpink;  /* visual cue only */
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}
.grid-item:nth-child(5){   /* bonus material */
  background-color: lightyellow;  /* visual cue only */
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.grid-item:nth-child(6){   /* bonus material */
  background-color: lightseagreen;  /* visual cue only */
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.grid-item:nth-child(7){   /* bonus material */
  background-color: lightgoldenrodyellow;  /* visual cue only */
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

/*##############  Task #1 Styles  ###############*/

.button {
  display: flex;
}

button {
  border: 4px dashed black;
  margin: auto;
  padding: 12px 24px;
  background: white;
  width: 240px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

button {
  transition: background .4s ease-in,
              border .3s .2s ease-in-out,
              border-radius .25s .1s ease-in,
              color .3s .3s linear;
}

button:hover {
  background:green;
  border: 3px solid lightgreen;
  border-radius: 16px;
  color: white;
}

/*##############  Task #2 Styles  ###############*/

.shrink {
  display: flex;
  justify-content: center;
}

@keyframes skrinkage {
  0% {transform:scale(1.2);}
  65% {transform:scale(0.7);}
  100% {transform:scale(1);}
}

h3 {
  align-self: center;
  font-size: 2.5rem;
  font-weight: bolder;
  color: purple;

  animation-name: skrinkage;
  animation-duration: 3s;
  animation-delay: 4s;
  animation-fill-mode: both;
}

/*##############  Task #3 Styles  ###############*/

.ghost {
  display: flex;
  align-items: center;
  justify-content: left;
}

.ghost img {
  height: 60px;
  width: auto;
}

@keyframes float {
  100% {transform: translateX(300%);}
}

#spooky {
  animation-name: float;
  animation-duration: 2s;
  /* animation-fill-mode: forwards; */
  animation-iteration-count:infinite;
  animation-play-state: paused;
  animation-direction: alternate-reverse;
}

#spooky:hover {
  animation-play-state: running;
}

/*##############  Task #4 Styles  ###############*/
