/*
  Student:      Misko Valent
  Due Date:     Oct 19, 2021

  Filename:     style.css
  LastUpdated:  Oct 17, 2021
  
  Class:        DGL 203 - Advanced CSS
  Instructor:   Megan Wilson
  Semester:     NIC 2021 Fall
  */

/*##############  Global Styles  ###############*/

body {
  margin-left: 30px;
}
